body {
    background-color: black;
    margin: 0; 
    background-image: url('/img/cliente/background.png');
    }

header{
    background-color: rgb(248,0,0);
    color: white;
    height: 70px;
}

#NumMesa, #PEDIDOS{
    margin: 10px;
}

#PEDIDOS{
    margin-top: 20px;
}

#NumMesa{
    background-color: aqua;
    color: black;
    text-align: center;
}

#Logo{
    width: 50px;
    margin-top: 10px;
}

#btnMenu{
    width: 550px;
    color: black;
    background-color: yellow;
    margin-top: 10px;
}

button{
    background-color: orangered;
    
}

h2{
    text-align: center;
    background-color: orangered;
    color: white;
    margin-bottom: 50px;
}

#ImgDeMenu{
    margin-top: 20px;
}

#botonesDeMenu{
    margin-top: 10px;
    background-color: white;
    color: white;
}

#btnComidas:hover {
    background-color: orangered;
    }

#btnBebidas:hover{
    background-color: orangered;
    }

#btnPostres:hover{
    background-color: orangered;
    }

#nombreDePieDeMenu{
    background-color: orangered;
}