p{
    color:  rgb(255, 255, 255); ;
}
.principal{
    width: 90%;
    height: 550px;
    margin: 0 auto;
}
.segunda-seccion{
    width: 90%;
    height: 500px;
    margin: 0 auto;
}
.agregar-mesero{
    font-family: Roboto;
    margin: 0px auto;
    width: 600px;
    height: 400px;
    border-radius: 12px;
    background-color: rgb(111, 119, 111,.7);
}
.datos-agrupados{
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
.info{
    width: 50%;
    height: auto;
}
/*.foto{
    width: 180px;
    height: 180px;
    background-color: red;
    border-radius: 100%;
    margin: 50px auto;
    align-content: center;
}*/
.btnGuardar{
    width: 150px;
    background-color: #1DA31A;
    border: 0;
    color: #ffffff;
    border-radius: 20px;
}
input{
    border-radius: 5px;
}
.input-file{
    width: 180px;
    height: 180px;
    background-color: red;
    border-radius: 100%;
    margin: 70px 60px;
    align-content: center;
}