.container{
    width: 100%;
    height: 450px;
    background-color: #D9D9D9;
    margin-top: 50px;
}
.container-title{
    background-color: red;
    width: 50%;
    height: 80px;
    text-align: center;
}
.container-numero-mesa{
    background-color: greenyellow;
    width: 50%;
    height: 80px;
    text-align: center;
}
.boton-descargar{
    background-color: blue;
    width: 50%;
    height: 80px;
    text-align: center;
}
i a{
    text-decoration: none;
    color: #ffffff;
    width: 150px;
    height: 50px;
    background-color: #00DD09;
    border-radius: 5px;
}
.codigo-qr-mesa-nueva{
    background-color: violet;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content:center
}
.container-numero-mesa img{
    margin-left: 125%;
    margin-bottom: 600px;
    position: relative;
}
