p{
    color: rgb(0, 0, 0);
}
.cont-mesas{
    width:100%;
    height: 445px;
    max-height: 445px;
}
.mesas{
    width: 700px;
    height: 400px;
    margin: 0 auto;
}
.title p{
    color: white;
    margin-left: 290px;
    
}
.container-mesas{
    width: 100%;
    height: 195px;
    align-content: space-around;
}
.cards-mesas{
    float: left;
    width: 180px;
    height: 200px;
    background-color: #BCC1BC;
    margin: 5 25px;
    border-radius: 8px;
}
.img-fluid2{
    width: 120px;
    height: 120px;
    margin-left: 30px;
}
.img-fluid-3{
    width: 60px;
    height: 60px;
    background-color: #00dd09;
    border-radius: 25px;
    margin-left: 170px;
    
}
.img-fluid-4{
    width: 60px;
    height: 60px;
    margin: 5px;
}
.codigoQR{
    width: 40px;
    height: 40px;
    margin-left: 75px;
    margin-top: 5px;
}
