p{
    color: rgb(0, 0, 0);
}
.cont-mesas{
    width:90%;
    min-height: 475px;
    margin: 2px auto;
}
.mesas{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.title{
    width: 100%;
    margin-top: -15px;
}
.title p{
    color: white;
    margin-left: 270px;
    
}
.container-mesas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 0.9fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 105px 20px;
    width: 100%;
    height: 408px;
}
.cards-mesas{
    width: 180px;
    height: 215px;
    background-color: #BCC1BC;
    margin: 2 20px;
    border-radius: 8px;
}
.img-fluid2{
    width: 120px;
    height: 120px;
    margin-left: 30px;
}
.img-fluid-3{
    width: 60px;
    height: 60px;
    background-color: #00dd09;
    border-radius: 30px;
    margin-left: 220px;
    
}

.codigoQR{
    width: 40px;
    height: 40px;
    margin-left: 75px;
    margin-top: 5px;
}
button{
    width: 100%;
}
