p{
    color: rgb(0, 0, 0);
}
.general{
    width: 100%;
    height: 550px;
}
.div-personal{
    width: 90%;
    height: 500px;
    margin: 0 auto;
}
h2{
    color: white;
}
.title{
    width: 100%;
    height: 50px;
}
.title p{
    color: white;
    margin-left: 270px;
}
.activos{
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    background-color: rgba(250, 75, 12, 0.26);
}
.ausentes{
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    background-color: rgba(250, 75, 12, 0.26);
}
.card-personal{
    width: 90%;
    height: 280px;
    background-color: #00DD09;
    margin: 20 auto;
    display: flex;
}
.card-personal2{
    width: 90%;
    height: 280px;
    background-color: #FF0000;
    margin: 20 auto;
    display: flex;
}
.foto{
    width: 90%;
    max-width: 180px;
    height: 180px;
    border-radius: 100%;
    text-align: center;
    margin-top: 50px
}
.info{
    width: 90%;
    height: 280px;
}
.p-info{
    text-align: center;
    font-size: 17px;
}
.img-fluid-3{
    width: 60px;
    height: 60px;
    background-color: #00dd09;
    border-radius: 30px;
    margin-left: 220px;
    
}

@media (max-width: 1085px) {
    .card-personal{
        align-items: center;
    }
    .info{
        width: 100%;
    }
    .foto{
        display: none;
    }
}