.cardsoporte{
    background-color: #32E5F0;
    margin-bottom:10px;
    margin-left: 3%;
    margin-right: 3%;

}

.contenSoporte{
    padding: 0px 50px;
}

.row-cols-3>* {
    width: 26% !important;
    height: 10rem;
    max-width: 216px;
}

.overflow-hidden
{
    width: auto;
    height: auto;
}


@media (min-width: 745px){

.row-cols-3>* {

    width: 218px !important;
    height: 170px !important;

}
.cards-soporte{
    position: relative;
    background: red;
    max-width: 832px!important;
    margin-right: 20% !important;
    margin-left: 20% !important;
}

.card-row{
    position: absolute;
    lex-shrink: 0;
    width: 100%;

    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);

}
}
