body{
    background-image: url('../img/admin/inicio/fondo.png');
    background-size: cover;
    background-color: black;
    min-width: 700px;
}


.headerInicioWeb{
    background-color: #FA4A0C;
    height: 103px;
    width: 100%;
    position: relative;
}


.button-ra {
    background-color: #32E5F0;
    border-radius: 8%;
    margin: 34px;
    position: absolute;
    top: 0px;
    right: 126px;
    width: 248px;
    height: 35px;
    border-radius: 15px;
    border: 0px;
}


.imagenlogo img{
    background-image: url('../img/admin/inicio/logoEM.png');
    max-width: 82px;
    max-height: 77px;
    position: absolute;
    left: 120px;
    margin: 13px;
}


